<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <title>cQ</title>
    <!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&sensor=true"></script>
    -->
    <!--
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    -->
    <link rel="stylesheet" href="static/leaflet.css">    
    <script src="static/leaflet-src.js"></script>

    <script src="static/jquery.js"></script>

    <script src="static/OSMBDatafier.js"></script>

    <script src="static/OSMBuildings-Leaflet.debug.js"></script>

    <script type="text/javascript" src="static/maps.js"></script>
  </head>
  <body>
    <div id="map-canvas"/>
    <div id="options_container" style="z-index: 1000; position:fixed; right:0px; width: 300px; height: 200px; background-color: rgba(100,100,100,0.5)">

    </div>
  </body>
</html>